table.a {
    padding: 8px 10px;
    background-color: #ddcb9e;
    border-color: transparent;
}

table.a td {
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #fff;
    border: 2px solid;
    border-color: #777;
}

.b-1 {
    background-color: #FFD078;
    padding: 5px;
}

.c {
    padding: 5px;
    background: #FFD078;
    display: inline-block;
}

.c table {
    background-color: #FFDDFE;
    border: 3px solid;
    border-color: #C104BD;
}